<% include layout-header %>

<div class="container-fluid d-flex align-items-center ">
    <!-- Default form login -->
    <div class="col-md-8 m-auto border border-dark rounded form-area-101 container" >
        <%if (participant_added) { %>
            
            <img src="/img/tick_circle.svg">
            
            <!-- Default form login -->
            <% }  else {%>
                <form class="text-center border border-light p-5" action="<%= event.image %>/update" method="post">
                    <p class="h3 mb-4">Participant for <i> <%= event.name %></i></p>
                    
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name">
                        </div>
                        <div class="form-group col-md-4">
                            <input id="inputphoneno" placeholder="Phone" class="form-control mb-4" type="number" name="phoneno">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputCity" placeholder="City">
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputState" class="form-control" >
                                <option selected>Maharashtra</option>
                                <option>Delhi</option>
                                <option>Chennai</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" placeholder="zip" class="form-control" id="inputZip">
                        </div>
                    </div>
                    
                    
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" placeholder="College Name" name="inputCollege" id="inputCollege">
                        </div>
                        <div class="form-group col-md-4">
                            <input id="inputrollno" class="form-control mb-4" type="number"  placeholder="Roll No " name="rollno">
                        </div>
                    </div>

                    <hr>
                    <h2> Skills</h2>
                    <% for(var i=0; i < 5; i++) { %>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" name="skill-<%=i%>" id="skill-<%=i%>" placeholder="skill-<%=i%>">
                            </div>
                            <div class="form-group col-md-8 ">
                                <!-- <input id="skill-level-<%=i%>" class="form-control mb-4" name="skill-level-<%=i%>" type="number" > -->
                                <input id="skill-level-<%=i%>" class="form-control mb-8" name="skill-level-<%=i%>"
                                type="range"
                                min="0"                    // default 0
                                max="10"                  // default 100
                                step="1"                   // default 1
                                value="5"                 // default min + (max-min)/2
                            >
                            </div>
                        </div>
                    <% } %>
                    <h2> Projects</h2>
                    <% for(var i=0; i < 5; i++) { %>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" name="project-<%=i%>" id="project-<%=i%>" placeholder="project-<%=i%>">
                            </div>
                        </div>
                    <% } %>
                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label type="text" class="form-control" >Rate Yourself</label>
                        </div>
                        <div class="form-group col-md-9 ">
                            <!-- <input id="skill-level-<%=i%>" class="form-control mb-4" name="skill-level-<%=i%>" type="number" > -->
                            <input id="self-rate-level-<%=i%>" class="form-control mb-8" name="self-rate-level-<%=i%>"
                            type="range"
                            min="0"                    // default 0
                            max="10"                  // default 100
                            step="1"                   // default 1
                            value="5"                 // default min + (max-min)/2
                        >
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Participate</button>
                </form>      
                
                <% } %>
            </div>
            
        </div>
        <script>
            $('document').ready(function(){
                
                $("head").append(`<style id="new-animations" type="text/css">       
                    body {        
                        overflow: auto;
                        position: relative;            
                    }   
                    
                    body:before {
                        content: "";
                        position: fixed;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        
                        display: block;
                        background-image: url("/app-data/event-photo/women-in-tech.jpeg");
                        background-size:cover;
                        width: 100%;
                        height: 100%;
                        
                        -webkit-filter: blur(5px);
                        -moz-filter: blur(5px);
                        -o-filter: blur(5px);
                        -ms-filter: blur(5px);
                        filter: blur(5px);
                    }
                    
                </style>`);
                $('.form-area-101').css("background-color","#fff");
                console.log("test")
            });
            
        </script>
        <% include layout-footer %>